
.container {
    width: 50%;
    margin-left: 28%;
    margin-top: 80px;
}

form {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 380px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(109 153 155);

}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    height: 100px; 
}


label {
    display: block;
    margin-bottom: 5px;
    color: white;

}


button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {

}